<!doctype html>
<html>

<head>
	<!-- Load plotly.js into the DOM -->
   <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

</head>
<body>
     <h1 id='command'></h1>
     <h3 id='result'></h3>    
     <div id='chart'></div>
</body>


<footer>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>


    <script type="text/javascript">
     
        var graphs = {{graphJSON|safe}};
        var data = graphs.data;
        var length = data.length ;
        var layout = graphs.layout;
        var head = {{head | safe}}; 
      
        document.getElementById('command').innerHTML=head.command; 
        document.getElementById('result').innerHTML='Total swap ='+head.count; 

        console.log('data:', data);
        Plotly.newPlot('chart', data, layout || {}, {responsive: true});            

        // data.forEach(drawSubGraph);
        function drawSubGraph(item, index) {
                 var iDiv = document.createElement('div');
                 iDiv.id = 'graph'+index;
                 document.getElementById('chart').appendChild(iDiv);
                 Plotly.newPlot(iDiv.id, [item], layout || {}, {responsive: true});           
        }
                

   </script>
</footer>

</html>
